/* LOGO */
.logo-circle{
  width:18px;
  height:18px;
  border-radius:50%;
  background: conic-gradient(
    #ff4d4d,
    #ffb84d,
    #4dff4d,
    #4dd2ff,
    #7f4dff,
    #ff4da6,
    #ff4d4d
  );
}

/* NAVBAR */
.nav-link{
  color:#444;
}

.nav-link.active,
.nav-link:hover{
  color:#000;
}

/* BUTTON */
.shop-btn{
  background:#2563eb;
  color:#fff;
  padding:8px 20px;
  border-radius:8px;
}
.shop-btn:hover{
  background:#1e4ed8;
  color:#fff;
}

.logo-img{
  width:48px;
  height:29px;
  object-fit:contain;
}


.txt{
    color: rgb(134, 134, 134);
    transition: all 0.6s ease-in-out;
}
.txt:hover{
    color: #000;
    transition: all 0.6s ease-in-out;
}
.block{
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.bg-section {
  background-color: rgba(241, 245, 249, 1);
}

.hero-bg {
  background-color: rgba(241, 245, 249, 1);
}


.product-bg {
  background-color: rgba(241, 245, 249, 1);
}

.product-card img {
  height: 220px;
  object-fit: cover;
}

.product-card {
  position: relative;
}


.footer {
            background-color: #0f172a; /* To'q ko'k rang */
            color: #94a3b8; /* Matn rangi */
            padding: 80px 0 40px 0;
        }
        .footer h5 {
            color: #ffffff;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .footer .logo-text {
            color: #ffffff;
            font-weight: bold;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
        .footer ul {
            list-style: none;
            padding: 0;
        }
        .footer ul li {
            margin-bottom: 10px;
        }
        .footer ul li a {
            color: #94a3b8;
            text-decoration: none;
            transition: 0.3s;
        }
        .footer ul li a:hover {
            color: #ffffff;
        }
        .footer hr {
            border-top: 1px solid #1e293b;
            margin: 40px 0;
        }
        .social-icons a {
            color: #94a3b8;
            font-size: 1.2rem;
            margin-left: 20px;
            transition: 0.3s;
        }
        .social-icons a:hover {
            color: #ffffff;
        }